<app-home></app-home>

<h3 class="mt-5 mb-3">Lista de Reservas</h3>

<table class="table table-striped-columns">
  <thead>
    <tr>
      <th>Hospede</th>
      <th>Quarto</th>
      <th>Check-In</th>
      <th>Check-Out</th>
      <th>Email</th>
      <th>Ação</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let reservation of reservartions">
      <td>{{ reservation.NomeHospede }}</td>
      <td>{{ reservation.NumeroQuarto }}</td>
      <td>{{ reservation.checkInDate }}</td>
      <td>{{ reservation.checkOutDate }}</td>
      <td>{{ reservation.EmailHospede }}</td>
      <td>
        <button
          class="btn btn-sm btn-danger mx-1"
          (click)="deleteReservation(reservation.id)"
        >
          Excluir
        </button>
        <button
          class="btn btn-sm btn-secondary mx-1"
          [routerLink]="['/edit', reservation.id]"
        >
          Editar
        </button>
      </td>
    </tr>
  </tbody>
</table>
<ul *ngIf="reservartions.length; else noReservation"></ul>

<ng-template #noReservation>
  <p>Nenhuma reserva encontrada.</p>
</ng-template>
