<h2>Lista de Reservas</h2>

<ul *ngIf="reservartions.length; else noReservation">
  <li *ngFor="let reservation of reservartions">
    Hospede: {{ reservation.NomeHospede }} <br />
    Quarto:{{ reservation.NumeroQuarto }} <br />
    Check-In: {{ reservation.checkInDate }} <br />
    Check-Out: {{ reservation.checkOutDate }} <br />
    Email: {{ reservation.EmailHospede }} <br />
    <button (click)="deleteReservation(reservation.id)">Excluir</button>
    <button [routerLink]="['/edit', reservation.id]">Editar</button>
  </li>
</ul>

<ng-template #noReservation>
  <p>Nenhuma reserva encontrada.</p>
</ng-template>
