<app-home></app-home>

<form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
  <div>
    <label>Check-In na Data</label>
    <input
      type="date"
      formControlName="checkInDate"
      title="Check-In Data"
      placeholder="Enter check-in data"
    />
    <div
      *ngIf="
        reservationForm.get('checkInDate')?.invalid &&
        reservationForm.get('checkInDate')?.touched
      "
    >
      Data de Check-In é obrigatória
    </div>
  </div>
  <div>
    <label>Check-Out na Data</label>
    <input
      type="date"
      formControlName="checkOutDate"
      title="Check-Out Data"
      placeholder="Enter check-out data"
    />
    <div
      *ngIf="
        reservationForm.get('checkOutDate')?.invalid &&
        reservationForm.get('checkOutDate')?.touched
      "
    >
      Data de Check-Out é obrigatória
    </div>
  </div>

  <div>
    <label>Nome do Hospede: </label>
    <input
      type="text"
      formControlName="NomeHospede"
      title="Nome do Hospede"
      placeholder="Nome do Hospede"
    />
    <div
      *ngIf="
        reservationForm.get('NomeHospede')?.invalid &&
        reservationForm.get('NomeHospede')?.touched
      "
    >
      Nome do Hospede é obrigatório
    </div>
  </div>
  <div>
    <label>Email: </label>
    <input
      type="email"
      formControlName="EmailHospede"
      title="Email do Hospede"
      placeholder="Email do Hospede"
    />
    <div
      *ngIf="
        reservationForm.get('EmailHospede')?.invalid &&
        reservationForm.get('EmailHospede')?.touched
      "
    >
      Email do Hospede é obrigatório
    </div>
  </div>
  <div>
    <label>Numero do Quarto: </label>
    <input
      type="number"
      formControlName="NumeroQuarto"
      title="Número do Quarto"
      placeholder="Número do Quarto"
    />
    <div
      *ngIf="
        reservationForm.get('NumeroQuarto')?.invalid &&
        reservationForm.get('NumeroQuarto')?.touched
      "
    >
      Numero do Quarto é obrigatório
    </div>
  </div>
  <button type="submit" [disabled]="reservationForm.invalid">Enviar</button>
</form>
